<!-- <h1>SPA - Single Page App</h1>

<h2>JIT - jast in time compilation</h2>

<h2>AOT - Ahead of time compilation(angular)</h2>



<button class="btn btn-primary mx-1" (click)="changeComponent(account.title)" >Show Account</button>
<button class="btn btn-primary" (click)="changeComponent(dashboard.title)"  >Show Dashboard</button>
<app-comp *ngIf="currentPage.title === account.title" ></app-comp>
<app-dashboard *ngIf="currentPage.title === dashboard.title"  ></app-dashboard> -->
<div class="container">
  <app-navigation></app-navigation>

  <hr />
  <div class="bg-success p-4 text-white rounded-3 shadow">
    <h1>My First NG App</h1>
  </div>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
